<div>
    <div>place holder for object A details</div>
    <div>place holder for object A details</div>
    <div>place holder for object B details</div>
    <div>place holder for object B details</div>
</div>

@code {

}
