<div>
    <div>place holder for study details</div>
    <div>place holder for study details</div>
    <div>place holder for study details</div>
    <div>place holder for study details</div>
</div>

@code {

}
