<div>
    <div>@study_name</div>
    <div>@description</div>
    <div>@dss</div>
    <div>@start_date</div>
</div>

@code {
    [Parameter]
    public string? study_name { get; set; }

    [Parameter]
    public string? description { get; set; }

    [Parameter]
    public string? dss { get; set; }

    [Parameter]
    public string? start_date { get; set; }

    [Parameter]
    public string? type_name { get; set; }

    [Parameter]
    public string? status_name { get; set; }

    [Parameter]
    public string? gender_elig { get; set; }

    [Parameter]
    public string? min_age { get; set; }

    [Parameter]
    public string? max_age { get; set; }

    [Parameter]
    public string? feature_list { get; set; }

    [Parameter]
    public string? country_list { get; set; }

    [Parameter]
    public string? condition_list { get; set; }

    [Parameter]
    public string? provenance { get; set; }
    
}
