
.content {
    padding: 3rem;
}


.top {
    display: flex;
}

.title {
    flex: 0 0 ;
}

.top-spacer {
    flex: 1 1;
}

.last-edited {
    flex: 0 0;
    align-self: end;
}

.rhs {
    font: var(--small-text);
    font-style: italic;
    color: var(--txt-emph-colour);
    text-align: right;
    white-space: nowrap;
}

lup-table {
    overflow-x: auto;
}

table {
    width: 95%;
    margin-left: 1rem;
}

h1 {
    color: var(--h1-colour);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    white-space:nowrap;
}

h2, h3 {
    color: var(--txt-emph-colour);
    padding-bottom: 1rem;
    white-space: nowrap;
}


thead {
    background-color: slategrey;
    color: var(--link-colour);
}


td, th {
    vertical-align: top;
    padding: 4px;
    font: var(--normal-text);
}


p, li {
    font: var(--normal-text);
}

.link {
    font: var(--normal-text);
    color: #1b6ec2;
    text-decoration: underline;
}

.link:hover {
    cursor:pointer;
}

.img_wide {
    aspect-ratio: 5 / 1;
    width: 100%;
    object-fit: contain;
    max-width: 1600px;
}

