
.content {
    padding: 3rem;
}

.top {
    display: flex;
}

.title {
    flex: 0 0 ;
}

.top-spacer {
    flex: 1 1;
}

.last-edited {
    flex: 0 0;
    align-self: end;
}

.rhs {
    font: var(--small-text);
    font-style: italic;
    color: var(--txt-emph-colour);
    text-align: right;
    white-space: nowrap;
}

table {
    width: 95%;
    margin-left: 1rem;
}

h1 {
    color: var(--h1-colour);
    padding-bottom: 1rem;
    margin-bottom: 0.5rem;
    white-space:nowrap;
}

h2, h3 {
    color: var(--txt-emph-colour);
    padding-top: 0.5rem;
    white-space: nowrap;
}


.tableHdr {
    background-color: slategrey;
    color: var(--link-colour);
}


td, th {
    vertical-align: top;
    padding: 2px;
    font: var(--normal-text);
}


p, li {
    font: var(--normal-text);
}

.link {
    font: var(--normal-text);
    color: #1b6ec2;
    text-decoration: underline;
}

.link:hover {
    cursor:pointer;
}

.img_wide {
    aspect-ratio: 5 / 1;
    width: 100%;
    object-fit: contain;
    max-width: 1600px;
}

.l3r {
    width: 3rem;
}

.l4r {
    width: 4rem;
}

.l6r {
    width: 6rem;
}

.l7r {
    width: 7rem;
}

.l9r {
    width: 9rem;
}

.m4r {
    width: 4rem;
    text-align: center;
}

.m5r {
    width: 5rem;
    text-align: center;
}

.m7r {
    width: 7rem;
    text-align: center;
}

.l22p{
    width: 22%;
}

.l30p{
    width: 30%;
}
