#body-outer {
    position: absolute;
    top: 8.5rem;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: hidden;

}

#body-main {
    background-color: var(--bg-colour);
    overflow-y: hidden;
    max-height: 100%;
    display: flex;
    flex-direction: row;
}

/* fonts used */

.small-text, .small-text-expanded {
    font: var(--small-text);
    text-align: left;
    color: var(--txt-colour);
}

.small-text-expanded {
    line-height: 1.25;
}

.small-text-italic {
    font: var(--small-text);
    text-align: left;
    font-style: italic;
}

.normal-blue-text {
    text-align: left;
    font: var(--normal-text);
    color: var(--txt-emph-colour);
}

.big-button-text {
    font: var(--normal-text);
    font-weight: bold;
    text-align: center;
    color: var(--link-colour);
}

.no-wrap-text {
    white-space: nowrap;
}

/* Three vertical divisions within the page */

#left-bar {
    flex: 1 1 17%;
    text-align: center;
    overflow-y: auto;
    min-width: 14rem;
}

#middle-bar {
    flex: 4 4 66%;
    text-align: center;
    overflow-y: hidden;
    
    display: flex;
    flex-direction: column;
}


#right-bar {
    flex: 0 0 11rem;
    overflow-y: auto;
    min-width: 11rem;
}



/* Left hand column area */

#filters-container { /* Used for the entire group of ilter boxes*/
    padding-top: 4.5rem;
    padding-left: 0.6rem;
    padding-right: 1rem;
}


.filter-expln {
    padding: 1rem 0.5rem;
}


/* Middle Search and results area */

#fixed-top { /* top bar with search boxes, switches and results summary */
    flex: 0 0 content;
    display: flex;
    flex-direction: column;
}

#fixed-results-container { /* area that includes scrolling results */
    flex: 1 1 auto;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    padding-top: 0.5rem;
}

/* Search bar */

#search-bar {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.search-label-container {
    padding-left: 0.5rem;
    flex: 0 0;
}

.search-label {
    white-space: nowrap;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.3rem;
}

/* Search bar - Search Type */

#search-type {
    flex: 0 0;
    min-width: 23rem;
    padding-top: 1rem;

    display: flex;
    flex-direction: row
}

#search-type-combo {
    flex: 0 0;
}

/* Search bar - Id Type */

#search-subtype {
    flex: 0 0;
    min-width: 21rem;
    padding-top: 1rem;

    display: flex;
    flex-direction: row
}

#id-type-combo {
    flex: 0 0;
}


/* Search bar - Search Parameters*/

#search-params {
    flex: 1 1;
    padding-top: 1rem;

    display: flex;
    flex-direction: row
}

#params-text {
    flex: 1 1;
    padding-right: 1.5rem;
}

input[type=text] {
    width: 100%;
    padding: 6px 12px 4px 12px;
    margin: 0;
    display: inline-block;
    border: 0;
    border-bottom: 1px solid #aaa;
    border-radius: 3px;
    box-sizing: border-box;
}

    input[type=text]:focus {
        outline: none;
        border-bottom: 2px solid royalblue;
    }


/* Switch area */

#switch-area {
    flex: 1 1 2rem;
    padding-left: 1rem;
    padding-right: 1.5rem;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    display: flex;
    flex-wrap: wrap;
}

.switch {
    white-space: nowrap;
}


#agg-switch {
    flex: 0 0;
}

#switch-spacer {    
    flex: 2 2;
    display: flex;
}

#small-switch-spacer {
    flex: 1 1;
    display: flex;
}

#tt-switch {
    flex: 0 0;
}

#cond-switch {
    flex: 0 0;
}

/* feedback area */ 
/* generally shown during development - ?? not clear if to optionally make visible */

#feedback {
    flex: 1 1;
    padding: 0 1rem;

    display: flex;
}

#fb-container {
    flex: 1 1;
    background-color: honeydew;
    margin-right: 2rem;
}

#sql-container {
    flex: 1 1;
    background-color: lavender;
    margin-right: 2rem;
}




/* Results Summary and buttons at the top */
#results-heading {
    flex: 0 0 auto;
    padding-top: 0.6rem;
    margin-left: 1rem;
    margin-right: 1.5rem;
    border-bottom: 2px solid var(--txt-emph-colour);
    height: 1.7rem;
    display: flex;
    flex-wrap: wrap;
}

#results-found {
    flex: 0 0;
}

#results-spacer {
    flex: 1 1;
}

#page-control {
    flex: 0 0;
    justify-self: right;
}


/* For the listed results themselves*/
#results-list {
    padding: 1rem 1.5rem 0.5rem 1rem;
    overflow-y: auto;
}



/* Right hand column area */

/*
#ShowWhere {
    padding-top: 0;
    padding-bottom: 3rem;
}

#AggregateSearches {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.RHSCheck {
    display: flex;
    padding-bottom: 0;
}

.RHSCheckTextSection {
    flex: 0 0 70%;
    padding-left: 2.5rem;
}

.RHSCheckTextOnly {
    padding-left: 2.5rem;
}

.RHSCheckBoxSection {
    flex: 0 0 30%;
}
    */


