<h3>GuideInfoPanel</h3>

<h4>Selected id is @ItemIdToDisplay</h4>

<button @onclick='() => SetSelectedId("g0")'>id g0</button>

<button @onclick='() => SetSelectedId("g1.3.1")'>id g1.3.1</button>

<button @onclick='() => SetSelectedId("g2.3")'>id g2.3</button>

<button @onclick='() => SetSelectedId("g3.1")'>id g3.1</button>

@code {

    [Parameter]
    public string? ItemIdToDisplay { get; set; }

    [Parameter]
    public EventCallback<string> ItemRequested { get; set; }

    public void SetSelectedId(string reqId)
    {
        ItemRequested.InvokeAsync(reqId);
    }
}
