@page "/Guide"

<PageTitle>MDR User Guide</PageTitle>

<TopBar BarTitle="" ShowSearchLink=true />

<div id="body-outer">
    <div id="body-main">
        <div id="tree-panel">
            <div class="tree-container">
                <Treeview OnTreeClick="ProcessItemClick" TreeType="guide" @ref="GuideTree" />
            </div>
        </div>
        <div id="info-panel">
            <GuideInfoPanel ItemRequested=@SetRequestedId ItemIdToDisplay=@clickedId />
        </div>
    </div>
</div>


@code{
    [Parameter]
    public string? clickedId { get; set; }
    [Parameter]
    public string? requestedId { get; set; }
   

    Treeview? GuideTree;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await SetRequestedId("g0");
        }
    }

    private async Task CallRequestId(string reqId)
    {
        if (GuideTree is not null)
        {
            await GuideTree.RequestId(reqId);
        }
    }
        

    private async Task SetRequestedId(string reqId)
    {
        await CallRequestId(reqId);
    }

    private void ProcessItemClick(string Id)
    {
        // for now just set parameters in text. Normally would use
        // the id to issue a call for the information.

        clickedId = Id;
    }
}

