<table b-aboutpanel class=@header_class>
   <tr>
      @((MarkupString)header_row) 
   </tr>
</table>

@code {
   [Parameter]
   public string header_class { get; set; } = "";
   
   [Parameter]
   public string header_row { get; set; } = "";
}