
.big-button-text {
    font: var(--normal-text);
    font-weight: bold;
    text-align: center;
    color: var(--link-colour);
}

.button-row {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.RHSbutton {
    width: 12rem;
    height: 2rem;
    background-color: var(--link-bg-colour);
    outline: 0.2rem solid var(--txt-emph-colour);
    border-radius: 8px;
}

#SearchButton {
    margin-top: 0.2rem;
    margin-bottom: 6rem;
    background-color: var(--link-bg-colour);
    outline: 3px solid var(--graphic-emph-colour);
}

    #SearchButton:hover {
        background-color: var(--link-hover-colour);
        outline: 3px solid var(--graphic-emph-colour);
    }

#ClearFilters {
    background-color: darkorchid;
    outline: 3px solid plum;
}

    #ClearFilters:hover {
        background-color: var(--link-hover-colour);
        outline: 3px solid var(--graphic-emph-colour);
    }

#ClearSearch {
    background-color: maroon;
    outline: 3px solid chocolate;
}

    #ClearSearch:hover {
        background-color: var(--link-hover-colour);
        outline: 3px solid var(--graphic-emph-colour);
    }

#RemoveUnchecked {
    background-color: darkslateblue;
    outline: 3px solid silver;
}

    #RemoveUnchecked:hover {
        background-color: var(--link-hover-colour);
        outline: 3px solid var(--graphic-emph-colour);
    }
