<div class="RHSCheck" id="SearchIn">
    <div>
        <p class="normal-blue-text">Search for key words in...</p>
    </div>
</div>

<div class="RHSCheck">
    <div class="RHSCheckTextSection">
        <p class="normal-blue-text">Study Titles & Topics</p>
    </div>
    <div class="RHSCheckBoxSection">
        <FluentCheckbox @bind-Value=searchInTitles></FluentCheckbox>
    </div>
</div>

<div class="RHSCheck">
    <div class="RHSCheckTextSection">
        <p class="normal-blue-text">Study Conditions</p>
    </div>
    <div class="RHSCheckBoxSection">
        <FluentCheckbox @bind-Value=searchInConditions></FluentCheckbox>
    </div>
</div>



@code {

    bool _searchInTitles;
    bool _searchInConditions;
    int _searchScope;

    [Parameter]
    public Action<string>? OnFeedbackChange { get; set; }

    [Parameter]
    public Action<int>? OnScopeChange { get; set; }

    public bool searchInTitles
    {
        get { return _searchInTitles; }
        set
        {
            _searchInTitles = value;
            process_state();
        }
    }

    public bool searchInConditions
    {
        get { return _searchInConditions; }
        set
        {
            _searchInConditions = value;
            process_state();
        }
    }

    private void process_state()
    {
        string scope_fback_string = _searchInTitles ? ", titles & topics" : "";
        scope_fback_string += _searchInConditions ? ", conditions" : "";
        string scope_fback;
        if (scope_fback_string == "")
        {
            scope_fback = "No scope defined - searching by key words impossible!!!";
        }
        else
        {
            scope_fback = "Searching in " + scope_fback_string[2..];
        }
        OnFeedbackChange!.Invoke(scope_fback);

        _searchScope = _searchInTitles ? 1 : 0;
          _searchScope += _searchInConditions ? 4 : 0;
        OnScopeChange!.Invoke(_searchScope);
    }

    protected override void OnInitialized()
    {
        _searchInTitles = true;
        _searchInConditions = true;
        process_state();
    }
}
