@page "/Study"

<PageTitle>MDR Study Details</PageTitle>

<TopBar BarTitle="" ShowSearchLink=true />


<div id="body-outer">
    <div id="body-main">
        <h3>Study Details</h3>
    </div>
</div>


@code {
    
}