.small-text {
    font: var(--small-text);
    text-align: left;
    color: var(--txt-colour);
}

.small-text-blue {
    font: var(--small-text);
    color: var(--txt-emph-colour);
    text-align: left
}

.small-text-blue-italic {
    font: var(--small-text);
    color: var(--txt-emph-colour);
    text-align: left;
    font-style: italic;
}

.small-text-blue-center {
    font: var(--small-text);
    text-align: center;
    color: var(--txt-emph-colour);
}

.small-button-text {
    font: var(--small-text);
    text-align: center;
    color: var(--link-colour);
}

.no-wrap-text {
    white-space: nowrap;
}

.filter-line-rev {
    display: flex;
    flex-direction: row-reverse;
}


#filters-container {
    padding-top: 5rem;
    padding-left: 0.6rem;
    padding-right: 1rem;
}

.filter-line {
    display: flex;
    padding-bottom: 0.2rem;
}

filter-bottom-line {
    display: flex;
    padding: 0.5rem 0 0.2rem 0;
}

.filter-btn {
    background-color: darkslateblue;
    border: none;
    padding: 1px 6px;
    cursor: pointer;
    margin: 0 4px;
    border-radius: 5px;
}

    .filter-btn:hover {
        background-color: RoyalBlue;
    }

#top-spacer {
    flex: 1 1;
}

#top-line {
    flex: 0 0;
    white-space: nowrap;
}
