@page "/Search"

<PageTitle>MDR Search</PageTitle>

<TopBarSearch />


<div id="body-outer">
    <div id="body-main">

        <div id="left-bar">
            



        </div>
        <div id="middle-bar">

            <div id="search-bar">
                <div id="search-type">
                    <div class="search-label-container">
                        <p class="search-label">Search Type</p>
                    </div>
                    <div id="search-type-combo">
                        <ComboBox idOptions="searchOptions" 
                         HandleSelectedOptionChanged="SearchOptionChanged"></ComboBox>
                    </div>
                </div>

                @if (searchType == 2)
                {
                    <div id="search-subtype">
                        <div class="search-label-container">
                            <p class="search-label">ID Type</p>
                        </div>
                        <div id="id-type-combo">
                            <ComboBox idOptions="idOptions"
                              HandleSelectedOptionChanged="idOptionChanged"></ComboBox>
                        </div>
                    </div>
                }

                <div id="search-params">
                     <div class="search-label-container">
                        <p class="search-label">@paramsLabelText</p>
                    </div>
                    <div id="params-text">
                        <input type="text" @bind="@searchParamsValue" @bind:event="oninput" style="width: 100%;" />
                    </div>
                </div>
            </div>


            <div id="sql-area">
                <div id="sql-container">
                    <p>Selected Search Value: @searchType: @searchText,  
                        Selected id type: @idType : @idText <br/>
                        Search Parameters: @searchParamsValue
                    </p>
                </div>
            </div>

            <div id="result-area">
                <p>Results to go here</p>
                <h3>SearchPage</h3>
                <h3>SearchPage</h3>
                <h3>SearchPage</h3>
                <h3>SearchPage</h3>
                <h3>SearchPage</h3>
                <h3>SearchPage</h3>
                <h3>SearchPage</h3>
                <h3>SearchPage</h3>
                <h3>SearchPage</h3>
                <h3>SearchPage</h3>
                <h3>SearchPage</h3>
                <h3>SearchPage</h3>
                <h3>SearchPage</h3>
                <h3>SearchPage</h3>
                <h3>SearchPage</h3>
                <h3>SearchPage</h3>
                <h3>SearchPage</h3>
                <h3>SearchPage</h3>
                <h3>SearchPage</h3>
                <h3>SearchPage</h3>
            </div>


        </div>

        <div id="right-bar">

           <div class="button-row" id="SearchButton" >
                <button class="RHSbutton" id="Search">Search</button>
           </div>

            <div class="RHSCheck" id="ShowWhere">
               <div class="RHSCheckTextSection">
                    <p class="RHSCheckText">Show where clause</p>
               </div>
               <div class="RHSCheckBoxSection">
                    <FluentCheckbox @bind-Value=showWhereClause></FluentCheckbox>
               </div>
           </div>

            <div class="RHSCheck" id="SearchIn">
                <div class="RHSCheckTextOnly">
                    <p class="RHSCheckText">Search for key words in...</p>
               </div>
           </div>

            <div class="RHSCheck">
                <div class="RHSCheckTextSection">
                    <p class="RHSCheckText">Study Titles</p>
               </div>
               <div class="RHSCheckBoxSection">
                    <FluentCheckbox @bind-Value=searchInTitles></FluentCheckbox>
               </div>
           </div>

            <div class="RHSCheck">
                <div class="RHSCheckTextSection">
                    <p class="RHSCheckText">Study Topics</p>
                </div>
                <div class="RHSCheckBoxSection">
                    <FluentCheckbox @bind-Value=searchInTopics></FluentCheckbox>
               </div>
            </div>

            <div class="RHSCheck">
                <div class="RHSCheckTextSection">
                    <p class="RHSCheckText">Study Conditions</p>
                </div>
                <div class="RHSCheckBoxSection">
                    <FluentCheckbox @bind-Value=searchInConditions></FluentCheckbox>
                </div>
           </div>

            <div class="RHSCheck" id="AggregateSearches">
                <div class="RHSCheckTextSection">
                    <p class="RHSCheckText">Aggregate Searches</p>
                </div>
                <div class="RHSCheckBoxSection">
                    <FluentCheckbox @bind-Value=aggregateSearches></FluentCheckbox>
                </div>
           </div>

           <div class="button-row">
                <button class="RHSbutton" id="ClearFilters">Clear Filters</button>
           </div>

            <div class="button-row">
                <button class="RHSbutton" id="ClearSearch">Clear Search</button>
           </div>

            <div class="button-row">
                <button class="RHSbutton" id="RemoveUnchecked">Remove Unchecked</button>
           </div>
            

        </div>
     </div>
</div>

@code {
    string? searchText;
    int? searchType;
    string? idText;
    int? idType;
    string? searchParamsValue;
    string paramsLabelText = "Parameters";

    private void SearchOptionChanged(Option<string> s)
    {
        searchText = s?.Text ?? "None";
        searchType = Int32.Parse(s?.Value ?? "0");
        paramsLabelText = searchType switch
        {
            1 => "Words",
            2 => "Identifier",
            3 => "PubMed ID",
            _ => "Parameters"
        };
    }
    private void idOptionChanged(Option<string> s)
    {
        idText = s?.Text ?? "None";
        idType = Int32.Parse(s?.Value ?? "0");
    }

    List<Option<string>> searchOptions = default!;
    List<Option<string>> idOptions = default!;

    bool showWhereClause;
    bool searchInTitles;
    bool searchInTopics;
    bool searchInConditions;
    bool aggregateSearches;


    protected override void OnInitialized()
    {
        searchOptions = new()
        {
            { new Option<string> { Value = "1", Text = "Key word(s)", Selected = true } },
            { new Option<string> { Value = "2", Text = "Study identifier"} },
            { new Option<string> { Value = "3", Text = "Paper identifier (PMID)" } }
        };

        idOptions = new()
        {
            { new Option<string> { Value = "1", Text = "Trial registry ID", Selected = true } },
            { new Option<string> { Value = "2", Text = "Funder’s ID"} },
            { new Option<string> { Value = "3", Text = "Sponsor’s ID" } },
            { new Option<string> { Value = "4", Text = "NIH CTRP ID"} },
            { new Option<string> { Value = "5", Text = "NHBL ID" } }
        };
    }

}
