<div class="top-bar">

    <div class="tb-filter">
        <div class="tb-link-text">
            <span>Filters</span>
        </div>
        <div class="tb-filter-icon">
            <img height="18" width="18"
                 src="/icons/search-icon.svg"
                 alt="search icon" />
        </div>
    </div>


    <div class="tb-spacer">&nbsp;</div>

    <div class="tb-file">
        <div class="tb-link-text">
            <span>File</span>
        </div>
    </div>


    <div class="tb-spacer">&nbsp;</div>

    <div class="tb-export">
        <div class="tb-link-text">
            <span>Export</span>
        </div>
    </div>


    <div class="tb-spacer">&nbsp;</div>

    <div class="tb-options">
        <div class="tb-options-icon">
            <img height="18" width="18"
                     src="/icons/search-icon.svg"
                     alt="search icon"/>
        </div>
        <div class="tb-link-text">
            <span>Options</span>
        </div>
    </div>
</div>




@code {


}
