@page "/Disclaimer"

<PageTitle>MDR Disclaimer</PageTitle>

<TopBar BarTitle="" ShowSearchLink=true />

<div id="body-outer">
    <div id="body-main">
        
        <h1> Legal Disclaimers</h1>

        <h3> Content of The Metadata Repository (MDR)</h3>
        <p class="expl-text">
            The Metadata Repository (MDR) system contains metadata from clinical studies/clinical trials and related data
            objects (e.g. publications, datasets, documents, reports, case report forms, etc.). which are stored in
            different data sources. The data sources are listed at
            https://... ... ... .</p>

        <p class="expl-text">Please note that this database is intended for informational purposes only. ECRIN accepts no responsibility
            or liability whatsoever with regard to the information on this website.</p>
        
        <p class="expl-text">
            While every effort is made to provide accurate and complete information, ECRIN cannot guarantee that this
            website is free of inaccuracies or reflects the most up-to-date version of the metadata. If errors are
            brought to our attention, we will try to correct them. ECRIN cannot be held responsible for the information,
            views and documents contained in these databases.</p>
        
        <p class="expl-text">
            Most of the information on the MDR website is in the public domain and can be used without restriction,
        there may be, however, restrictions according to access conditions and licences of individual data sources
        (see for example terms and conditions for individual data sources elsewhere on this site 
        (https://ecrin-mdr.... ...)</p>
        <p class="expl-text">
            Consequently, users of the MDR are invited to read this disclaimer thoroughly as well as the terms and
            conditions of use applicable to the data source referred to on the MDR website. 
        In particular, if reproducing any content from the MDR, users should:</p>
        
        <ul>
            <li class="expl-text">Attribute the source of the data.</li>
            <li class="expl-text">
                Make reasonable efforts to keep the data updated so that it accurately reflects the MDR's contents.
                State any modifications made to the content of the data, along with a complete description of the
                modifications.</li>
        </ul>

        <h3>Personal data</h3>
        <p class="expl-text">
            We do not published any personal data on the Metadata Repository (MDR) website beyond what is already in
            the public domain (e.g. authorship of journal papers, identification of individuals as study leads).
            Please note, however, that the MDR website may provide links to third-party sites or to publications which
            may contain personal data.</p>
        <p 
            class="expl-text">Please note that ECRIN accepts no responsibility or liability whatsoever with regard to the information
            on third-party sites. They have developed their own policies with respect to the GDPR and their own terms
            and conditions. When you click on links to visit third-party websites/ to access these resources, you may
            need to accept their specific terms and conditions and cookie policies as ECRIN has no control over their
            data privacy policies.</p>

        <p 
            class="expl-text">Written queries may be addressed to: ECRIN-ERIC 5–7 rue Watt, 75013 Paris, France.
            You can also email us at using the xontact page on this site (https://ecrin-mdr.... ...)</p>

        <h3>Legal validity of this disclaimer</h3>
        <p class="expl-text">
            If sections or individual terms of this statement are not legal or correct, the content or validity of the
            other parts remain unaffected by this fact. This disclaimer is not intended to limit the liability of
            ECRIN in contravention of any requirements laid down in applicable law nor to exclude its liability for
            matters which may not be excluded under that law.</p>
    </div>
</div>

